#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  font-family: monospace;
  color: #004c7b;
  display: flex;
  flex-direction: column;
  align-items: center;
}


